/* MainScreen.module.css */

.mainContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
    background-color: #818181;
    display: flex;
    height: 100vh;
    padding: 20px;
  
  }
  
  .mainContent h1 {
    font-size: 8rem;
    margin: 0; /* Remove margin to bring headers closer */
  }
  
  .mainTitle {
    color:white;
    margin-top:10vh;
    margin-left:5vw;
    display: flex;
    flex-direction: column;
  }
  
  .mainTitle h1 {
    font-size: 8rem; /* Adjust font size for better alignment */
    margin: 10px; /* Remove margin */
  }
  .mainTitle h2{
    font-size: 8rem;
    margin: 10px;
  }
  .buttonLink {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.8rem;
    margin-top: 5vh;;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .buttonLink:hover {
    background-color: #6493cc; /* Solid background on hover */
    color: #000000; /* Text color on hover */
  }